<%= form_for(@kitten) do |f| %>
  <% if @kitten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kitten.errors.count, "error") %> prohibited this kitten from being saved:</h2>

      <ul>
      <% @kitten.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Kitten Information</h2>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :age %>
      <%= f.number_field :age %>
    </p>
    <p>
      <%= f.label :cuteness %>
      <%= f.text_field :cuteness %>
    </p>
    <p>
      <%= f.label :softness %>
      <%= f.text_field :softness %>
    </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
